/* help center rules and regulations */
.severity-1 {
  color: #239B56;
  font-weight: 700;
}

.severity-2 {
  color: #F1C40F;
  font-weight: 700;
}

.severity-3 {
  color: #E67E22;
  font-weight: 700;
}

.severity-4 {
  color: #C0392B;
  font-weight: 700;
}
